<template>
    <page>
        <p>Request status <strong>{{ status }}</strong></p>

        <img :src="imgData" style="display: block"/>
        <a @click="doRequest">Get awesomeness</a>
    </page>
</template>
<script>
import Page from "@/tools/Page"
export default {
    name: "AsyncRequest",
    components: {
        Page,
    },
    data: () => {
        return {
            status: "Idle",
            imgData: "",
        }
    },
    methods: {
        doRequest() {
            this.imgData = ""
            fetch(new Request("/static/ready.gif"))
                .then(response =>  {
                    if (!response.ok) {
                        throw new Error('HTTP error, status = ' + response.status);
                    }
                    return response.blob();
                })
                .then(response => {
                    this.status = "Got the image, seeding it"
                    let objectURL = URL.createObjectURL(response);
                    this.imgData = objectURL;
                })
            this.status = "After request"
        }
    }
}
</script>
