<template>
    <page>
        <ul>
            <li @click="consoleAssert"><code>assert(expression, message)</code>: Assert when <code :class="['red', {yellow: x % 10 > 5 && x !== 0}, {green: x % 10 == 0 && x !== 0}]">x % 10 == 0</code></li>
            <li><code @click="consoleCount">count(title)</code> <a class="stop" v-if="counter" @click="consoleCount">STOP!!!1!!111!</a> <span class="counter">{{ counterRuns }}</span></li>
            <li @click="consoleGroup"><code>group(title); groupEnd(title)</code></li>
            <li @click="consoleDir"><code>dir(obj)</code></li>
            <li @click="consoleTime"><code>time(title); timeEnd(title)</code></li>
            <li @click="consoleTable"><code>table(Array|Object)</code></li>
            <li @click="$console.clear"><code>Clear</code></li>
        </ul>
        <a href="https://developer.mozilla.org/en-US/docs/Web/API/Console">MDN docs</a>
        <a href="https://docs.microsoft.com/en-us/visualstudio/debugger/javascript-console-commands?view=vs-2019">and many more...</a>
        <div class="center">
            <img src="http://static.flickr.com/56/143275911_fd1b048a56_o.gif" v-if="x % 10 == 0 && x !== 0" />
            <p v-else :class="['big', 'red', {yellow: x % 10 > 5 && x !== 0}, {green: x % 10 == 0 && x !== 0}]">{{ 10 - (x % 10) }}</p>
        </div>
    </page>
</template>
<script>
import Page from "@/tools/Page"
export default {
    name: "ConsoleLogger",
    components: {
        Page,
    },
    data() {
        return {
            counter: null,
            counterRuns: 0,
            x: 0,
        }
    },
    methods: {
        consoleAssert() {
            this.x += 1
            console.assert(this.x % 10 != 0, `Finally: ${this.x}`)
        },
        consoleCount() {
            if (this.counter) {
                this.counterRuns += 1
                clearInterval(this.counter)
                console.debug("Counter cleared. Ran %d times", this.counterRuns);
            } else {
                let iteration = 0;
                this.counter = setInterval(() => {
                    console.count(`Running counter iteration ${this.counterRuns + 1}`)
                }, 500)
            }
        },
        consoleDir() {
            console.info("Regular Console log")
            console.log(document.body)
            console.info("Console dir")
            console.dir(document.body)
        },
        consoleGroup() {
            console.group("Level 2 Header")
            console.log("Level 2")
            console.group()
            console.log("Level 3")
            console.warn("More of level 3")
            console.groupEnd()
            console.log("Back to level 2")
            console.groupEnd()
            console.debug("Back to the outer level")
        },
        consoleTime() {
            console.time("Timing 1000ms timeout")
            console.log("waiting....")
            setTimeout(() => {
                console.log("done")
                alert("Close to continue...")
                console.timeLog("Timing 1000ms timeout")
                console.timeEnd("Timing 1000ms timeout")
            }, 1000)
        },
        consoleTable() {
            function Person(firstName, lastName) {
                this.firstName = firstName;
                this.lastName = lastName;
            }

            let answer = prompt("who are you?")
            var me = new Person(...answer.split(/ (.*)/).filter(x => x));

            console.table(me)
            console.table([me], ["firstName", "lastName"]);
        },
    },
}
</script>
<style scoped>
ul {
    list-style-type: none;
    padding-inline-start: 0px;
}
ul li {
    cursor: pointer;
    list-style: none;
    margin-left: initial;
}
ul li code:hover {
    color: #42b983;
}
code.red,
code.yellow,
code.green {
    border-radius: 3px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    padding: 3px;
}
code.red:hover,
code.yellow:hover,
code.green:hover {
    color: initial;
}
code.red {
    background-color: red;
    color: white;
}
code.yellow {
    background-color: orange;
    color: black;
}
code.green {
    background-color: green;
    color: black;
}
.center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p.big.red {
    font-size: 1.5rem;
}
p.big.yellow {
    font-size: 3rem;
    font-weight: 900;
}
.counter::before {
    content: '{{ ';
    color: #42b983;
}
.counter {
    font-weight: 900;
}
.counter::after {
    content: ' }}';
    color: #42b983;
}
.stop {
    font-weight: 900;
    color: red;
    transition: color 1.3s ease;
}
.stop:hover {
    animation: rainbow 1s linear 0s infinite;
}
.stop:active {
    transform: scale(2);
}
@keyframes rainbow {
    0% {
        color: red;
    }
    20% {
        color: yellow;
    }
    40% {
        color: green;
    }
    60% {
        color: orange;
    }
    80% {
        color: purple;
    }
    100% {
        color: red
    }
}
</style>
