<template>
    <page>
    <checkbox v-model="debuggerEnabled">Debugger enabled</checkbox>
    <p class="big">{{ currentValue }} </p>
        <p><a @click="increment">Click me</a> (Increase counter)</p>
        <p><a @click="burst">Don't click me</a> (Decrease timeout interval and log)</p>
    </page>
</template>
<script>
import Page from "@/tools/Page"
import Checkbox from 'vue-material-checkbox'
export default {
    name: "Debugger",
    components: {
        Page,
        Checkbox,
    },
    data: () => {
        return {
            currentValue: 0,
            runningBurst: null,
            debuggerEnabled: false,
        }
    },
    methods: {
        increment() {
            this.currentValue += 1
            if (this.debuggerEnabled) {
                debugger
            }
        },
        burst() {
            this.currentValue = 0
            console.time(`iteration ${this.currentValue}`)
            this._burst(1000)
        },
        _burst(interval) {
            console.timeEnd(`iteration ${this.currentValue}`)
            if (interval > 10) {
                this.currentValue += 1
                console.log("Next interval: %d", interval)
                return setTimeout(() => {
                    console.time(`iteration ${this.currentValue}`)
                    this._burst(interval - 10)
                }, interval)
            } else {
                console.log("It's enough")
            }
        }
    },
}
</script>
<style scoped>
p.big {
    font-size: 3rem;
    font-weight: 900;
}

</style>
