<template>
    <div class="hello">
        <ul>
            <li>BreakPoints</li>
            <ul>
                <li><router-link :to="{ path: '/async-request'}">Async request (inspect request)</router-link></li>
                <li><router-link :to="{ path: '/debugger' }">Debugger</router-link></li>
                <li><router-link :to="{ path: '/consoleum' }">Console logger (console stuff)</router-link></li>
                <li><router-link :to="{ path: '/i-am-lazy' }">Lazy Component (Component loaded lazy)</router-link></li>
            </ul>
        </ul>
    </div>
</template>

<script>
export default {
  name: 'Index',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
