<template>
    <page>
        <p>I am lazy</p>
        <iframe src="https://giphy.com/embed/cuPm4p4pClZVC" width="480" height="361" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </page>
</template>
<script>
import Page from "@/tools/Page"
export default {
    name: "LazyComponent",
    components: {
        Page,
    },
}
</script>

