<template>
    <div id="app">
        <router-view />
    </div>
</template>

<script>
export default {
    name: 'App'
}
</script>

<style>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #2c3e50;
}
a {
    color: #42b983;
    cursor: pointer;
}
code {
    font-family: 'Incosolata', monospace;
    line-height: 1.5;
    letter-spacing: 0.1rem;
}
</style>
