<template>
    <footer :class="{active: show}">
        <p @click="show = !show">Console</p>
        <ul v-if="show">
            <li v-for="line in console.history" :class="line.type">
                <strong class="console-type" v-html="line.type"></strong>
                    {{ _sprintf(line.arguments) }}
            </li>
        </ul>
    </footer>
</template>
<style scoped>
footer {
    position: fixed;
    bottom: 0;
    max-height: 50vh;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: height 0.7s ease-in-out;
    height: calc(1.2rem + 20px);
    background-color: black;
}
footer.active {
    min-height: 50vh;
    height: 50vh;
}
footer > ul {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    max-height: calc(50vh - 1.2rem - 30px);
    background-color: black;
    height: 100%;
}
footer ul li {
    padding: 5px;
    line-height: 1.5rem;
    display: flex;
    justify-content: stretch;
}
footer > p {
    height: 1.2rem;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 10px 5px;
}
.log {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-bottom: 1px solid white;
}
.info {
    background-color: rgba(79, 161, 199, 0.3);
    color: rgba(79, 161, 199, 1);
    border-bottom: 1px solid rgba(79, 161, 199, 1);
}
.error {
    background-color: rgba(234, 110, 82, 0.3);
    color: rgba(234, 110, 82, 1);
    border-bottom: 1px solid rgba(234, 110, 82, 1);
}
.debug {
    background-color: rgba(211, 124, 177, 0.3);
    color: rgba(211, 124, 177, 1);
    border-bottom: 1px solid rgba(211, 124, 177, 1);
}
.warn {
    background-color: rgba(247, 185, 68, 0.3);
    color: rgba(247, 185, 68, 1);
    border-bottom: 1px solid rgba(247, 185, 68, 1);
}
.assert {
    background-color: rgba(255, 136, 232, 0.3);
    color: rgba(255, 136, 232, 1);
    border-bottom: 1px solid rgba(255, 136, 232, 1);
}
.console-type {
    width: 60px;
}
</style>
<script>
const util = require('util')
export default {
    name: "Console",
    data() {
        return {
            console: {
                _log: console.log,
                _info: console.info,
                _warn: console.warn,
                _error: console.error,
                _debug: console.debug,
                _assert: console.assert,
                _clear: console.clear,

                /* Declare our console history variable. */
                history: [],
            },
            show: false,
        }
    },
    methods: {
        _sprintf(args) {
            return util.format(args);
        },
        _intercept (type, args) {
            // Your own code can go here, but the preferred method is to override this
            // function in your own script, and add the line below to the end or
            // begin of your own 'console._intercept' function.
            // REMEMBER: Use only underscore console commands inside _intercept!
            this._collect(type, args)
        },
        clear() {
            this.console._clear.apply(console)
            this.console.history = []
        },
        _collect (type, args) {
            let time = new Date().toUTCString()

            if (!type) type = 'log'

            // To ensure we behave like the original console log functions, we do not
            // output anything if no arguments are provided.
            if (!args || args.length === 0) return

            // Act normal, and just pass all original arguments to
            // the origial console function :)
            this.console['_' + type].apply(console, args)

            // Get stack trace information. By throwing an error, we get access to
            // a stack trace. We then go up in the trace tree and filter out
            // irrelevant information.
            var stack = false
            try {
                throw Error('')
            } catch (error) {
                // The lines containing 'console-history.js' are not relevant to us.
                var stackParts = error.stack.split('\n')
                stack = []
                for (var i = 0; i < stackParts.length; i++) {
                    if (stackParts[i] === 'Error') {
                        continue
                    }
                    stack.push(stackParts[i].trim())
                }
            }

            // Add the log to our history.
            this.console.history.push({ type: type, timestamp: time, arguments: args, stack: stack })
        },
    },
    mounted() {
        /* Redirect all calls to the collector. */
        console.log = (...args) => { return this._intercept('log', args) }
        console.info = (...args) => { return this._intercept('info', args) }
        console.warn = (...args) => { return this._intercept('warn', args) }
        console.error = (...args) => { return this._intercept('error', args) }
        console.debug = (...args) => { return this._intercept('debug', args) }
        console.assert = (...args) => { return this._intercept('assert', args) }
        console.clear = () => { return this.clear() }
    },
}
</script>
