<template>
    <div class="wrapper">
        <header>
            <p><router-link :to="{path: '/'}" class="link-back">Back</router-link></p>
        </header>
        <main>
            <slot></slot>
        </main>
        <console />
    </div>
</template>
<script>
import Console from "@/tools/Console"
export default {
    name: "Page",
    components: {
        Console,
    },
    data() {
        return {
            console: [],
        }
    },
}
</script>
<style scoped lang="css">
header {
    position: fixed;
    top: 0;
}
.link-back {
    position: relative;
    text-decoration: none;
    margin-bottom: 5vh;
}
.link-back::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 21px;
    border-bottom: 1px solid black;
    transition: width 0.4s ease-in-out;
    width: 0%;
}
.link-back:hover::after {
    width: calc(100% - 21px);
}
.link-back::before {
    background-image: url(../assets/back.svg);
    content: '';
    background-size: cover;
    background-position: 0% 0%;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
}
.wrapper {
    padding: 10vh 10vw;
}
</style>
